<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/CSS/style.css"/>
    <title>Новый клиент</title>
    {% import "macros.html" as macros %}
</head>
<body>
<div class=menu>
    <ul>
        <li class=active><a href="/">Новый клиент</a></li>
    </ul>
</div>
<div class=block>
    <form action="{{ url_for('index') }}" method="get">
        <p>
            <label>
                Имя клиента:
                <input type="text" name="new_fio" required>
            </label>
            </p>
        <p>
          <label>
                Возраст:
                <input type="text" name="new_age" required>
            </label>
            </p>
        <p>
          <label>
                <p> Пол (Муж/Жен): <br>
                <input type = radio name="new_gender" value='Муж'> Mуж <br>
                <input type = radio name="new_gender" value='Жен'> Жен
                </p>
            </label>
            </p>
        <p>
            <label>
                Номер паспорта (6символов):
                <input type="text" name="new_pass" required>
            </label>

        </p>
        <p>
            <input type="submit" value="Добавить клиента">
            <input type="button" onclick="window.location='{{ url_for('index') }}'" value="Отменить">
        </p>
    </form>
</div>
</body>
</html>